.buy-container {
  /* min-height: 80vh; */
  padding: 5rem 3rem;
  width: 100%;
}

.buy-heading {
  font-size: 44px;
  font-weight: 800;
  text-align: center;
}

.buy-options-container {
  margin: 3rem 0;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.options-1 img,
.options-2 img,
.options-3 img {
  width: 15%;
}

.buy-options-container img:hover {
  cursor: pointer;
}

.options-1 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.options-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.options-3 {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
